<div *ngIf="company">
  <h2>{{ company.name }}</h2>
  <p><strong>Adresa:</strong> {{ company.address }}</p>
  <p><strong>Servisi:</strong></p>
  <ul>
    <li *ngFor="let service of company.services">{{ service }}</li>
  </ul>
  <p><strong>Cene:</strong></p>
  <ul>
    <li *ngFor="let price of company.prices">{{ price }}</li>
  </ul>
  <p><strong>Kontant telefon:</strong> {{ company.contact_number }}</p>
  <p><strong>Pocetak odmora:</strong> {{ company.vacation_start | date }}</p>
  <p><strong>Kraj odmora:</strong> {{ company.vacation_end | date }}</p>
  <p><strong>Dizajneri:</strong></p>
  <ul>
    <li *ngFor="let designer of company.decorators">{{ designer }}</li>
  </ul>

  <div class="navigation-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 0">&lt; Prev</button>
    <span>Strana {{ currentPage + 1 }} od {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next &gt;</button>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div *ngIf="currentPage === 0">
      <h3>Zakazi posao sa {{ company.name }}</h3>

      <div class="form-group">
        <label for="jobDate">Datum</label>
        <input type="date" id="jobDate" [(ngModel)]="job.date" name="date" required />
      </div>

      <div class="form-group">
        <label for="jobTime">Vreme</label>
        <input type="time" id="jobTime" [(ngModel)]="job.time" name="time" required />
      </div>

      <div class="form-group">
        <label for="surfaceArea">Povrsina</label>
        <input type="number" id="surfaceArea" [(ngModel)]="job.surfaceArea" name="surfaceArea" min="1" required />
      </div>

      <div class="form-group">
        <label>Tip prostora</label>
        <div>
          <input type="radio" id="privateBackyard" [(ngModel)]="job.spaceType" name="spaceType" value="Privatna basta" required />
          <label for="privateBackyard">Privatna basta</label>
        </div>
        <div>
          <input type="radio" id="restaurant" [(ngModel)]="job.spaceType" name="spaceType" value="Restoran" required />
          <label for="restaurant">Restoran</label>
        </div>
      </div>
    </div>

    <div *ngIf="currentPage === 1">
      <h3>Details for {{ job.spaceType }}</h3>

      <div *ngIf="job.spaceType === 'Privatna basta'">
        <div class="form-group">
          <label for="sunbedsArea">Povrsina za lezajke</label>
          <input type="number" id="sunbedsArea" [(ngModel)]="job.sunbedsArea" name="sunbedsArea" min="0" required />
        </div>

        <div class="form-group">
          <label for="poolArea">Povrsina za bazen</label>
          <input type="number" id="poolArea" [(ngModel)]="job.poolArea" name="poolArea" min="0" required />
        </div>

        <div class="form-group">
          <label for="greeneryArea">Povrsina za zalenilo</label>
          <input type="number" id="greeneryArea" [(ngModel)]="job.greeneryArea" name="greeneryArea" min="0" required />
        </div>
      </div>

      <div *ngIf="job.spaceType === 'Restoran'">
        <div class="form-group">
          <label for="fountainArea">Povrsina za fontane</label>
          <input type="number" id="fountainArea" [(ngModel)]="job.fountainArea" name="fountainArea" min="0" required />
        </div>

        <div class="form-group">
          <label for="restaurantGreeneryArea">Povrsina za zalenilo</label>
          <input type="number" id="restaurantGreeneryArea" [(ngModel)]="job.restaurantGreeneryArea" name="restaurantGreeneryArea" min="0" required />
        </div>
      </div>

      <div class="form-group">
        <h3>Postavi Layout povrsine</h3>
        <input type="file" (change)="onFileSelected($event)" accept=".json" />
        <canvas #propertyCanvas></canvas>
      </div>

      <div class="form-group">
        <label for="comments">Dodatni komentari</label>
        <textarea id="comments" [(ngModel)]="job.comments" name="comments"></textarea>
      </div>

<div class="form-group">
  <label for="services">Izaberi dodatne opcije:</label>
  <div *ngFor="let service of company?.services">
    <input 
      type="checkbox" 
      [checked]="isServiceSelected(service)" 
      (change)="toggleServiceSelection(service)" 
      name="selectedServices" 
    />
    <label>{{ service }}</label>
  </div>
</div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</div>

<button (click)="goBack()">Nazad na kompanije</button>
